/* ================================ 공통사항 나중에 수정================================= */

    
    
.login-container {
	max-width: 400px;
	margin: 60px auto;
	padding: 2rem;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.icon-input {
	position: relative;
}

.icon-input .fa-user, .icon-input .lockicon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
}

.icon-input .fa-eye {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
}

.icon-input .fa-eye:hover {
	cursor: pointer;
}

.icon-input input {
	padding-left: 2.5rem;
}

.login-btn {
	width: 100%;
	background-color: #e0e0e0;
	border: none;
	color: #333;
}

.login-btn:hover {
	background-color: #ccc;
}

.small-link {
	font-size: 0.9rem;
	text-align: right;
	margin-top: 0.5rem;
}

.bottom-text {
	text-align: center;
	margin-top: 1.5rem;
	font-size: 0.9rem;
}

.join-form .valid-msg {
	visibility: hidden
}

.join-form .valid-msg.active {
	visibility: hidden
}

.bottom-text a {
	font-weight: bold;
	text-decoration: none;
}

.bottom-text a:hover {
	text-decoration: underline;
}

body {
	background-color: #f8f9fa;
}