<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AttachMapper">

  <!-- attach DB 저장 -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="attachId">
	INSERT INTO attach (uuid, origin, mime_type, image, size, path) 
    VALUES (#{uuid}, #{origin}, #{mimeType}, #{image}, #{size}, #{path})
  </insert>
  
  <!-- 삭제 : attach link 삭제시 연결된 link_id가 없는 attach 데이터도 삭제 -->
  <delete id="delete">
    DELETE FROM attach WHERE uuid = #{uuid}
  </delete>

  <!-- 첨부파일 단일 조회 -->
  <select id="findById" resultType="attach">
    SELECT * FROM attach
    WHERE uuid = #{uuid}
  </select>
</mapper>

