<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.BoardMapper">
	
<!-- 글 등록 -->
	<insert id="insert">
			insert into board (title, content, memberId, categoryId) values (#{title}, #{content}, #{memberId}, #{categoryId})
		<selectKey keyProperty="boardId" resultType="long" order="AFTER">
			select max(boardId) from board
		</selectKey>
	</insert>
	
<!-- 글 수정 -->
	<update id="update">
		update board set
		title = #{title},
		content = #{content},
		updatedAt = now(),
		viewCount = #{viewCount}
		where boardId = #{boardId}
	</update>
	
<!-- 글 삭제 -->
	<delete id="delete">
		delete from board
		where boardId = #{boardId}
	</delete>
	
<!-- 조회수 증가 -->
	<update id="increaseCnt">
		update board
		set viewCount = viewCount + 1
		where boardId = #{boardId}
	</update>

</mapper>