<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.BoardMapper">
  	<resultMap type="board" id="b">
		<id column="board_id" property="boardId"></id>		
		<result column="category_id" property="categoryId"></result>
		<result column="member_id" property="memberId"></result>
		<result column="group_id" property="groupId"></result>
		<result column="depth" property="depth"></result>
		<result column="title" property="title"></result>
		<result column="content" property="content"></result>
		<result column="visible_level" property="visibleLevel"></result>
		<result column="isBlind" property="isBlind"></result>
		<result column="like_count" property="likeCount"></result>
		<result column="comment_count" property="commentCount"></result>
		<result column="view_count" property="viewCount"></result>
		<result column="created_at" property="createdAt"></result>
		<result column="updated_at" property="updatedAt"></result>
	</resultMap>
	<sql id="criteria">
	<where>
		<trim prefixOverrides="AND | OR">
			<if test="categoryId != null">
				and category_id = #{categoryId}
			</if>
			
			<if test="types != null">
				<foreach collection="types" item="t" open="and (" close=")" separator="or">
					<choose>
						<when test="t eq 'T'.toString()">
							title like concat('%', #{keyword}, '%')
						</when>
						<when test="t eq 'C'.toString()">
							content like concat('%', #{keyword}, '%')
						</when>
						<when test="t eq 'I'.toString()">
							id like concat('%', #{keyword}, '%')
						</when>
					</choose>
				</foreach>
			</if>
		</trim>
	</where>
</sql>


<!-- 목록조회 -->
	<select id="list" resultMap="b">
		select * from board
		WHERE category_id = #{categoryId}
		order by board_id DESC
	</select>

<!-- 단일조회 -->
	<select id="selectOne" resultMap="b">
			select * from board where board_id = #{boardId}
	</select>
	
<!-- QnA 내 문의내역 조회 -->
<select id="selectQnaListByMember" resultType="board">
	  SELECT * FROM board 
	  WHERE member_id = #{memberId}
    	AND category_id = 2
	  ORDER BY created_at DESC
</select>
	
<!-- 글 등록 -->
	<insert id="insert" parameterType="board" useGeneratedKeys="true" keyProperty="boardId">
	  INSERT INTO board (category_id, member_id, title, content, visible_level,
	    	is_blind, like_count, comment_count, view_count, created_at, updated_at ) 
    	VALUES (
		    #{categoryId}, #{memberId}, #{title}, #{content}, #{visibleLevel}, 
		    0, 0, 0, 0, NOW(), NOW()
	  )
	</insert>
	
	
<!-- 글 수정 -->
	<update id="update" parameterType="board">
		update board set
		title = #{title},
		content = #{content},
		view_count = #{viewCount},
		updated_at = now()
		where board_id = #{boardId}
	</update>
	
<!-- 글 삭제 -->
	<delete id="delete">
		delete from board
		where board_id = #{boardId}
	</delete>
	
<!-- 조회수 증가 -->
	<update id="increaseCnt">
		update board
		set view_count = viewCount + 1
		where board_id = #{boardId}
	</update>


</mapper>