<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ClassInfoMapper">
<resultMap id="OnedayClassMap"
	type="domain.onedayClass.OnedayClass">
	<result property="classId" column="class_id" />
	<result property="businessId" column="business_id" />
	<result property="categoryId" column="category_id" />
	<result property="openId" column="open_id" />
	<result property="title" column="title" />
	<result property="description" column="description" />
	<result property="duration" column="duration" />
	<result property="curriculum" column="curriculum" />
	<result property="price" column="price" />
	<result property="discountPrice" column="discount_price" />
	<result property="thumbnailImages" column="thumbnail_image" />
	<result property="address" column="address" />
	<result property="minParticipants" column="min_participants" />
	<result property="maxParticipants" column="max_participants" />
	<result property="status" column="status" />
</resultMap>

	<!--나중에 조회할 때 사용 <resultMap type="insertClassInfo" id="c"> <id column="classId" 
property="classId"/> <id column="classId" property="classId"/> </resultMap> -->

<!-- 클래스 추가 -->
<insert id="insertClassInfo"
	parameterType="domain.onedayClass.OnedayClass" useGeneratedKeys="true"
	keyProperty="classId">
	INSERT INTO class (
	business_id, category_id,
	title,
	description, description2,
	duration, discount_price,
	instructor_name,
	difficulty, curriculum, host_introduction,
	thumbnail_image,
	detail_images, instructor_image_url, address, region,
	class_type,
	created_at,
	price, discount
	)
	VALUES (
	#{businessId}, #{categoryId},
	#{title}, #{description}, #{description2},
	#{duration},
	#{discountPrice},
	#{instructorName}, #{difficulty}, #{curriculum},
	#{hostIntroduction},
	#{thumbnailImages}, #{detailImages},
	#{instructorImageUrl},
	#{address}, #{region},
	#{classType},
	#{createdAt},
	#{price}, #{discount}
	)
</insert>

<!-- 오픈 정보 추가 (나중에 등록시 필요) 마스터가 클래스 아이디라 생각하고 비지니스 아이디 없으면 추가 불가(확인하기) -->
<insert id="insertClassOpen"
	parameterType="domain.onedayClass.OnedayClass" useGeneratedKeys="true"
	keyProperty="openId">
	INSERT INTO class_open (
	master_id, min_participants,
	max_participants, status
	)
	VALUES (
	#{masterId}, #{minParticipants},
	#{maxParticipants}, #{status}
	)
</insert>
<!-- url 정보 업데이트로 추가 -->
<update id="updateUrl"
	parameterType="domain.onedayClass.OnedayClass">
	update class set url = #{url} where class_id =
	#{classId}
</update>


<!-- 클래스 카테고리별 단일 조회 -->

<select id="listClass"  resultMap="OnedayClassMap">
	SELECT 
	class_id, business_id, category_id, title, thumbnail_image, c.price,
	discount_price, region, open_id
	FROM class c
	left join (select max(open_id) open_id, master_id from class_open group by master_id) o on c.class_id = o.master_id
	ORDER BY class_id DESC
	LIMIT #{amount}
		OFFSET #{offset}
</select>
<!-- 클래스 카테고리 별 정보 조회 조인 필요? 1000개 나옴 조심 -->

<select id="listClassInfoOne" parameterType="long"
	resultType="domain.onedayClass.OnedayClass">

	SELECT * from class where category_id = #{categoryId}

</select>

<!-- 클래스 카테고리 별 정보 조회 - 게시글 갯수(long) 되는거 맞음 -->

<select id="getCount" parameterType="long">
	SELECT count(*) from class
</select>


<!-- 클래스 정보 변경 -->


<!-- 클래스 삭제 -->
<delete id="delete">
	DELETE FROM class WHERE class_id = #{classId}
</delete>

<!-- 업데이트에 필요한 정보 -->
<select id="selectAllUrls" resultType="ClassInfo">
	SELECT class_id, title,
	url FROM class
</select>

<!-- 전체 목록 조회 resultMap="b" 이거 나중에 확인하고 위에 정의 해두기 -->
	<select id="listClassCate" parameterType="domain.dto.Criteria" resultType="domain.onedayClass.OnedayClass">
		SELECT
		class_id, business_id, category_id, title,
		description, description2,
		duration, created_at,
		instructor_name,difficulty,
		detail_images, thumbnail_image, address,
		region,price, url,
		class_type, discount, discount_price,
		curriculum,
		host_introduction,instructor_image_url
		FROM class
		ORDER BY class_id DESC
		LIMIT #{amount}
		OFFSET #{offset}
	</select>

<select id="listClassDetailPage"  resultMap="OnedayClassMap"  resultType="domain.onedayClass.OnedayClass">
	SELECT c.class_id, c.business_id, c.category_id, c.title, c.description, c.duration, c.curriculum,
	c.price, c.discount_price, c.thumbnail_image, c.address,
	o.open_id, o.min_participants, o.max_participants, o.status
	FROM class c
	JOIN class_open o ON c.class_id = o.master_id
	WHERE c.class_id = #{classId} AND o.open_id = #{openId}
</select>




</mapper>